
*
{
	box-sizing: content-box;
	moz-box-sizing: content-box;
	ms-box-sizing: content-box;
	o-box-sizing: content-box;
	webkit-box-sizing: content-box;
	font-family: 'Open Sans', Heltevica Neue sans-serif;
}
.list-style-off
{
	list-style: none;
}
.profieldetails li
{
	position: relative;
}
.profieldetails li .dot
{
	left: 120px;
	top: -15px;
}
.profieldetails .dot .inner-dot
{
	box-sizing: border-box;
	min-width: 150px;
	z-index: 100;
}
.ul-inline-block li
{
	display: inline-block;
}
.bg-blue
{
	background: #2980b9;
}
.bg-orange
{
	background: #f89406;
}
.text-cap
{
	text-transform: capitalize;
}
input, input[type="text"], input[type="password"], select, textarea
{
	border-radius: 0px;
	padding: 8px 15px;
}
input.control-form, select.control-form
{
	display: block;
}
select.control-form
{
	width: 95%;
}
.btn-blue, .widgets .btn-blue
{
	background: #0e64d3;
	position: relative;
}
a .dot
{
	left: 0px;
	top: 0px;
}
.inner-dot
{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
	color: #444;
	font-size: 14px;
	left: 45px;
	letter-spacing: 1px;
	min-width: 200px;
	padding: 20px;
	position: absolute;
	visibility: hidden;
	z-index: 100;
}
a .dot:hover .inner-dot
{
	visibility: visible;
}
.arrow
{
	background: url(/img/arrow.png) no-repeat;
	height: 19px;
	left: 35px;
	position: absolute;
	top: 10px;
	visibility: hidden;
	width: 10px;
	z-index: 100;
}
.dot:hover .arrow
{
	visibility: visible;
}
.inner-dot strong
{
	font-size: 18px;
}


/* -----------------------
 *	NIC CHANGES START HERE
   ----------------------- */
   
/* General chatbox */
.chatbox-container{	
	/* Positioning */
	position: fixed;
	top: 50%; right: 1%;
	margin-top: -228.5px;
	z-index: 999;

	/* Styling */
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
	background: #424A7A;
	border: 2px solid #fff;
	border-radius: 19px;
	color: #fff;
	opacity:0.3;

	/* Layout */
	height: 457px;width: 300px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.chatbox-container:hover {
	opacity: 1 !important;
}

/* Image */
.chatbox-image-container {
	/* Positioning */
	margin: 20px auto 20px;

	/* Styling */
	border: 2px solid #fff;
	border-radius: 50%;
	background: white;
	overflow: hidden;
	
	/* Layout */
	height: 110px;
	width: 110px;
}
.chatbox-image-container img {
	height: 100%;
	width: 100%;
}

/* Bubble */
.dot {
    position: absolute;
    background: url(../img/dot.png) no-repeat;
    height: 37px;width: 37px;
    right:-20px;top: -20px;
}
.inner-dot {
    position: absolute;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #444;
    left: 45px;top: -15px;
    width: 320px;
    padding: 15px 15px;
    visibility: hidden;
    z-index: 100;
    -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
            box-sizing:border-box;
}
.inner-dot .header {
    color:#535353 ;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}
.inner-dot .body { font-size: 14px; }
a .dot:hover .inner-dot { visibility: visible !important }

.dot:hover .inner-dot { visibility: visible !important }
.dot:hover .arrow{visibility: visible  !important}



/* Message holder */
.chatbox-wrapper {
	background: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.5);
	width:269px;
	margin: auto auto;
	height: 179px;
	text-align: left;
}
.inner-chatbox-wrapper {
	padding-left: 8px;
	padding-top: 4px;
}





/* Control block */
.chatbox-controls {
	position:relative;
	text-align: center;
}
.chatbox-controls span a {
	position: absolute;
	text-decoration: none;
	color:#FFFFFF;
	font-size: 12px;
	font-weight: 700;
	margin-right: 9px;
}
.chatbox-controls ul {
	list-style-type: none;
	margin: 0;padding: 0;
	display: inline-block;
}
.chatbox-controls ul li {
	float:left;
	margin-right: 9px;
}
.chatbox-controls ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.chatbox-controls ul li a div {
	width: 5px;height: 5px;
	border: #FFFFFF 1px solid;
	-webkit-border-radius: 50%; /* Safari, Chrome */
	   -moz-border-radius: 50%; /* Firefox */
	        border-radius: 50%; /* CSS3 */
}
.chatbox-controls ul li a div.active {
	background: #FFFFFF;
}
.chatbox-controls span.previous a {
	left:55px;
}

/* Step Control / Buttons */
/* Step Control / Buttons */
.step-control {
    position: relative;
    height:30px;
    margin-top: 20px;
}
.step-control .step-name {
    margin-top: 6px;
    font-size: 15px;
    color: #FFFFFF ;
    float: left;
    width: 100%;
    text-align: center;
}
.step-control .button {
    position: absolute;
    padding-left: 6px;padding-right: 6px;
    padding-top:6px;
    height: 30px;
    color:#674172 ;
    border:none;
    font-size: 18px;
    background-color: #FFFFFF ;
    -webkit-border-radius: 2px; /* Safari, Chrome */
       -moz-border-radius: 2px; /* Firefox */
            border-radius: 2px; /* CSS3 */
    -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
            box-sizing:border-box;
}
.button a {
    text-decoration: none;
    color:#674172 ;
}
.skip, .next {
    right: 13px;
}
.back {
    left: 13px;
}

/* Postpone */
.postpone {
	position:absolute;
	width:100%;
	bottom:2px;
	font-size: 12px;
	text-align:center; 
}
.postpone a {
	color: #fff;
	text-decoration: underline;
}


/* Chat bubble */
.textbox {
	position: relative;
	border-radius: 10px;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px 6px 4px 10px;
	
	width: auto;
	max-width: 80%;
	text-align: left;
	display: inline-block;
}	
.textbox .sm-arrow {
	bottom: 0px;
	display: block;
	height: 15px;
	left: -6px;
	position: absolute;
	width: 11px;
}
.textbox.bg-blue::after {
	border-color: #2980b9 transparent;
	border-style: solid;
	border-width: 0px 10px 0 10px;
	bottom: 10px;
	content: "";
	display: block;
	left: -10px;
	position: absolute;
}
.textbox.bg-blue .sm-arrow   { background: url(/img/c-arrow-blue.png) no-repeat;   }
.textbox.bg-orange .sm-arrow { background: url(/img/c-arrow-orange.png) no-repeat; }

.widgets h2
{
	padding-bottom: 15px;
	position: relative;
}
.widgets .center
{
	/*padding-top: 40px;*/
	text-align: center;
}
.widgets
{
	margin-bottom: 20px;
}
.formbox
{
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.formbox label
{
	margin-bottom: 15px;
}
.dot
{
	background: url(/img/dot.png) no-repeat;
	height: 37px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 37px;
}
.widgets h2 .dot
{
	left: 160px;
}
.widgets h2 .second
{
	left: 120px;
}
.widgets h2 .third
{
	left: 80px;
}
.widgets h2 .fourth
{
	left: 60px;
}
.widgets h2 .fifth
{
	left: 160px;
}
.widgets h2 .sixth
{
	left: 60px;
}
.widgets .city
{
	left: 155px;
	top: 17px;
}
.formbox
{
	overflow: visible;
}
.widgets .dot.city .inner-dot
{
	min-height: 85px;
	pading: 10px;
}
.widgets .dot .inner-dot
{
	top: -30px;
	width: 320px !important;
}
.widgets input.control-form.city
{
	width: 145px;
}
.align
{
	display: table;
	height: 99px;
	width: 100%;
}
.align p
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.profileimage
{
	overflow: visible;
	position: relative;
}
.profileimage figure
{
	height: auto;
	overflow: hidden;
	width: 100%;
}
.absolute
{
	left: -10px;
	top: 45%;
}
.col-6
{
	box-sizing: border-box;
	float: left;
	padding: 0 15px;
	width: 50%;
}
.border-box
{
	box-sizing: border-box;
}
.section
{
	opacity: 1;
}
.capitalize
{
	text-transform: capitalize;
}
.uppercase
{
	text-transform: uppercase;
}
.btns
{
	color: #fff;
	padding: 24px 61px 24px 47px;
	transition: all 0.5s ease-in-out 0s;
}
.btn-border-purple
{
	background: rgba(0, 0, 0, 1);
	border: 5px solid #8b44aa;
	box-shadow: 0 0 5px #5f3b78;
}
.btn-border-sky
{
	background: rgba(0, 0, 0, 1);
	border: 5px solid #31b09d;
	box-shadow: 0 0 5px #14675d;
}
.btn-border-purple:hover
{
	background-color: #8b44aa;
	color: #fff;
}
.btn-border-sky:hover
{
	background-color: #31b09d;
	color: #fff;
}
.list-style-off
{
	list-style: none;
}
.fullwidth-img
{
	background: url(/img/bg.png) no-repeat;
	background-size: 100%;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	height: auto;
	overflow: hidden;
	width: 100%;
}
.fullwidth-img > img
{
	height: auto;
	vertical-align: bottom;
	width: 100%;
}
.overlay
{
	background: #2d3e50;
	height: 960px;
	opacity: 0.75;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.layer
{
	position: relative;
	z-index: 1;
}
.navbar-default
{
	background: none;
	border: none;
	border-radius: 0;
	opacity: 1;
	padding: 29px 0 0;
}
.navbar-brand
{
	height: auto;
	padding: 0 0 0 15px;
}
.navbar-collapse .navbar-nav > li > a
{
	color: #fff;
	font-size: 18px;
	text-transform: capitalize;
	transition: all 0.5s ease-in-out 0s;
}
.navbar-collapse .navbar-nav > li > a:hover
{
	color: #60bebe;
}
.banner
{
	padding-top: 105px;
}
.section.banner
{
	background: none;
	border: none;
}
.banner h1
{
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 82px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.banner span
{
	display: block;
	font-size: 35px;
	font-style: italic;
	font-weight: 600;
	line-height: 45px;
	text-align: center;
}
.trainee
{
	padding-bottom: 125px;
	padding-top: 111px;
	text-align: center;
}
.trainee .margin
{
	margin-left: 48px;
}
.form-box
{
	position: relative;
}
.form-box .form-content
{
	background: rgba(256, 256, 256, 0.5);
	border: 2px solid #979797;
	box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
	color: #fff;
	display: inline-block;
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
	margin-right: 14px;
	padding: 17px 12px;
	width: 50%;
}
.trainee .btn-signup
{
	background: #1bbc9b;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: 35px;
	padding: 10px 30px 9px 31px;
	text-transform: capitalize;
}
.trainee .btn-signup:hover
{
	background: rgba(0, 0, 0, 0.9 );
	color: #fff;
	text-decoration: none;
}
.trainee .info
{
	bottom: -36px;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	position: absolute;
	right: 15%;
}
footer
{
	background: #2d3e50;
	font-family: "Open Sans", sans-serif;
	padding: 30px 0;
}
footer h4, footer ul, footer a
{
	color: #fff;
	font-weight: 400;
}
footer h4
{
	font-weight: 600;
}
footer ul li
{
	margin-bottom: 10px;
}
footer a:hover, footer a:focus
{
	color: #31b09d;
	outline: none;
	text-decoration: none;
}
footer ul li span
{
	display: inline-block;
	margin-right: 10px;
}
footer ul li span.fa
{
	font-size: 20px;
}
footer h2
{
	color: #fff;
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 2px;
	position: relative;
	text-align: right;
}
footer h2:after
{
	border: 1px solid #fff;
	bottom: 1px;
	content: "";
	position: absolute;
	right: 1.4%;
	width: 10%;
}
.social li a
{
	display: inline-block;
}
.iam
{
	color: #fff;
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 10px;
}
.holder
{
	margin-left: 80px;
}
.margin-right
{
	margin-right: 25px;
}
.italic
{
	font-style: italic;
}
@media screen and (min-width: 1400px)
{
	.container
	{
		width: 1244px;
	}
	.trainee h2
	{
		display: none;
	}
	.trainee .btn-border-purple
	{
		background: #8b44aa;
		margin-right: 50px;
	}
	.trainee .btn-border-purple:hover
	{
		background: rgba(0, 0, 0, 0.95);
	}
	.trainee .btn-border-sky
	{
		background: #31b09d;
	}
	.trainee .btn-border-sky:hover
	{
		background: rgba(0, 0, 0, 0.95);
	}
	.margin-right
	{
		margin-right: 25px;
	}
	footer h2:after
	{
		display: none;
	}
}
@media screen and (max-width: 1366px) and (min-width: 1024px)
{
	.container
	{
		width: 925px !important;
	}
	.banner
	{
		text-align: center;
	}
	.trainee h2
	{
		color: #fff;
		display: block;
		font-size: 42px;
		margin-bottom: 15px;
	}
	.trainee .info
	{
		right: 11%;
	}
	.form-box .form-content
	{
		font-size: 25px;
	}
	.form-box .btn-signup
	{
		padding: 8px 28px 7px 28px;
	}
	footer h2:after
	{
		bottom: 5px;
		right: 2.5%;
		width: 10%;
	}
}
@media screen and (min-width: 768px) and (max-width: 980px)
{
	.fullwidth-img
	{
		background: url(/img/bg-tab.png) no-repeat;
		background-size: 100%;
	}
	.container
	{
		width: 714px !important;
	}
	.banner
	{
		padding-top: 45px;
	}
	.banner h1, .banner span
	{
		display: block;
		text-align: center;
	}
	.banner h1
	{
		font-size: 50px;
		margin-bottom: 20px;
	}
	.banner span
	{
		font-size: 35px;
	}
	.trainee
	{
	}
	.trainee h2
	{
		display: none;
	}
	.trainee .btn-signup
	{
		font-size: 30px;
	}
	.trainee .form-box .form-content
	{
		font-size: 20px;
	}
	.trainee .info
	{
		right: 6%;
	}
	footer
	{
		padding: 43px 0;
	}
	footer h2
	{
		font-size: 24px;
	}
	footer h2:after
	{
		bottom: 5px;
		right: 6%;
		width: 16%;
	}
}
@media screen and (max-width: 767px)
{
	.fullwidth-img
	{
		background: url(/img/bg-mobile.png) fixed 50% 0 no-repeat;
		background-size: 100%;
	}
	.col-6
	{
		margin-bottom: 5px;
		width: 100%;
	}
	.banner
	{
		padding-top: 45px;
	}
	.trainee
	{
		padding: 32px 0 70px;
	}
	.trainee h2
	{
		display: none;
	}
	.trainee .btn-border-purple
	{
		margin-left: 0;
	}
	.trainee .pull-right
	{
		float: none !important;
	}
	.navbar-toggle
	{
		border: none;
		float: left;
		margin-left: 25px;
		padding: 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
		background: none;
	}
	.navbar-toggle span
	{
		font-size: 25px;
	}
	.banner h1, .banner span
	{
		display: block;
		text-align: center;
	}
	.banner h1
	{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.banner span
	{
		font-size: 22px;
	}
	footer h4.text-center
	{
		text-align: left !important;
	}
	footer h4
	{
		margin: 10px 0 15px;
	}
	footer h2
	{
		text-align: left;
	}
	footer h2:after
	{
		display: none;
	}
	footer p.text-right.italic
	{
		text-align: left !important;
	}
	.trainee .btn-signup
	{
		box-sizing: border-box;
		display: block;
		font-size: 30px;
		padding: 5px 30px 6px;
		width: 100%;
	}
	.trainee .margin
	{
		margin: 0;
	}
	.trainee .form-box .form-content
	{
		box-sizing: border-box;
		display: block;
		font-size: 15px;
		margin-bottom: 10px;
		width: 100%;
	}
	.trainee .info
	{
		left: 0;
		right: 0;
		text-align: center;
	}
}
.greybtn{
	position: relative;
}

header .navigation ul li {
	position: relative;
}