

/*  =====================       Navigation       ========================
========================================================================*/
/*******   Styling  ********/


.main_header {
	background: #369AD8;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.35);
	z-index: 120;
}

.trainer {
	background-color: $tw_blue;
}

.main_header_account,
.trainer_account {
	// background-color: $tw_dblue;
}




/* ======     MAIN - NAV  
============================*/


/*******   Layout  ********/

.main_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $mainHeader_height;
	@include display(flex);
	@include align-items(center);

    @media all and (min-width: $fixedMenuBreakPoint) {
		padding-left: $fixedMenuWidth;
	}
}

.content {
	background: url("/img/Trainee/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navContentContainer {
	max-width: 1300px;
	margin: 0 auto;
	width: 100%;

	@media all and (min-width: $fixedMenuBreakPoint) {
		@include display(flex);
		position: relative;
	}
}

nav {
	// @include outer-container;
	width: 100%;

	&:first-child {
		padding-left: 21px;
	}

	&:last-child {
		padding-right: 21px;
	}
}



.navBurger {
	@include span-columns(2);
	@media (min-width: $navBreak) {
		@include span-columns(5);
	}

	svg {
		cursor: pointer;
		margin: auto auto auto 0;
		min-width: 39px;
	}
}

#headerLogo {
	text-align: center;
	display: none;

	@media (min-width: $navBreak) {
		@include span-columns(2);

		img {
			height: 30px;
		}
	}
	
	svg {
		display: none;
		margin: auto auto;

		@media (min-width: $navBreak) {
			display: block;
		}
	}
}


.navOptions {
	@include span-columns(10);
	@media (min-width: $navBreak) {
		@include span-columns(5);
	}

	@include outer-container;

	form {
		@include span-columns(8);
		@include omega;
		float: right;
		max-width: 146px;
	}

	.navLang {
		@include span-columns(4);
		float: right;
		text-align: right;
	}

	button {
		margin: 0;
		@include transition(.2s ease-in);
		@include btn($tw_green, 35px, 100%);
		font-size: 1em;

		&:active, 
		&:focus {
			@include transform(translateY(2px));
			box-shadow: 0 1px 0 #28AD86;
		}
	}
}



.navLang {
	@include display(inline-flex);
	margin-top: 10px;
	margin-right: 10px !important;
}

.navLang span {
	padding: 0 5px;
}

.navLang span,
.navLang a {
	margin-bottom: auto;
	margin-top: auto;
	color: #fff;
	text-decoration: none;
}


#c-menu--push-left {
	@include flex-direction(column);
	// @include display(flex);
}




/* ======     DROP MENU  
============================*/

/*******   Layout  ********/

.profile {
	text-align: center;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-content(center);
	min-height: 20vh;
	padding: 20px;
}

/*******   Styling  ********/

.profile img {
	border-radius: 50%;
	border: 2px solid #fff;
	height: 88px;
	width: 88px;
	margin: 0 auto;
}

.profile h2 {
	margin: 16px 0 0;
	font-size: 1.2em;
	font-weight: 500;
	color: #fff;

}

.profile h4 {
	margin-top: 7px;
	color: #fff;
	font-size: 1.2em;
}

// .menuItemsSection {
//     border-top: solid 1px rgba(255, 255, 255, 0.1);
//     padding-top: 15px;
//     margin: 0 10px;

//     .c-menu__item {
//     	margin: 0;
// 		border: none !important;
// 	}

// 	h2 {
// 	    margin-left: 20px;
// 	    margin-right: 10px;
// 	    font-size: 1.2em;
// 	    font-weight: 500;
// 		color: white;
// 	    padding: 18px 0 18px 0;
// 	}
// }

.menu-section {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	// margin: 0 25px;
	padding: 7px 0;
	padding: $menuSpacing 0;
}

.socialIcons_container {
	min-height: 15vh;
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	@include flex-direction(column);
}

.socialIcons_container p {
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
	margin-bottom: 15px;
}

.socialIcons {
	@include display(flex);
	@include justify-content(space-between);
	// width: 155px;
	width: 120px;
	margin: 4px auto 10px auto;

	@media (min-height: 700px) {
		margin: 4px auto 40px aut
	}
}

/* ------------------------------------------------

  WRAPPER OBJECT

--------------------------------------------------- */
.o-wrapper {
	overflow: hidden;
	@include transition(transform 0.3s);

	@media all and (min-width: $fixedMenuBreakPoint) {
		padding-left: $fixedMenuWidth;
	}
}



/* ------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
--------------------------------------------------- */

.c-menu {
	position: fixed;
	z-index: 200;
	background: rgba(44,62,80,0.90);
	box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.40);
	@include transition(transform 0.3s);

	@media all and (min-width: $fixedMenuBreakPoint) {
		background: rgba(44,62,80,1);
	}
}

.c-menu__item {
	@include transition(all 0.2s);

	&:hover {
		background-color: $tw_blue;
		border-radius: 2px;
		margin-right: -20px;
	}

	a.selected {
		font-weight: 600;
	}
}

.logout {
	&:hover {
		background-color: $red;
	}
}


.c-menu__items {
	list-style: none;
	@include display(flex);
	@include justify-content(center);
	@include align-content(center);
	@include flex-direction(column);
	min-height: 65vh;
	padding: 0 15px;
	margin: auto 0;
}

.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
@media all and (min-width: 320px) {
  .c-menu--push-left,
  .c-menu--push-right {
    width: 300px;
    @media all and (min-width: $fixedMenuBreakPoint) {
		width: $fixedMenuWidth;
	}
  }
}

.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: center;
  // border-top: solid 1px rgba(255, 255, 255, 0.1);
  // margin-left: 25px;
  // margin-right: 25px;
}

.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:last-child {
   border-top: none;
}

.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
	font-size: 18px;
	color: #FFF;
	line-height: 24px;
	padding: $menuSpacing 12px ;
	text-decoration: none;
	display: block;
	text-align: left;
}

.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    @media all and (min-width: $fixedMenuBreakPoint) {
		display: none;
	}
}

.c-button--push-left {
	@media all and (min-width: $fixedMenuBreakPoint) {
		display: none;
	}
}

/**
 * Slide/Push Menu Left.
 */

.c-menu--push-left {
  top: 0;
  left: 0;
  @media all and (min-width: 320px) and (max-width: $fixedMenuBreakPoint) {
	  @include transform(translateY(-100%));
  }
}

@media all and (min-width: 320px) and (max-width: $fixedMenuBreakPoint) {
  .c-menu--push-left {
  	@include transform(translateX(-300px));
  }
}

.c-menu--push-left.is-active {
	@include transform(translateX(0));
}

@media all and (min-width: $fixedMenuBreakPoint){
	.main_header nav,
	#main_header nav {
		@include display(flex);
	}

	#headerLogo {
		margin:auto;
	}

	#c-button--push-left {
		display: none;
	}

	.navOptions {
		position: absolute;
		top: 0;
		right: 10px;
		width: 400px;
		margin: 0;
		@include display(flex);
		@include justify-content(flex-end);

		.navLang {
			width: auto;
			margin-left: 10px;
		}
	}
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */

 .o-wrapper.has-push-left {
 	@include transform (translateX(100%));
}
@media all and (min-width: 320px) and (max-width: $fixedMenuBreakPoint) {
  .o-wrapper.has-push-left {
  	@include transform(translateX(300px));
  }
}



/**
 * html states.
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
@media all and (min-width: 320px) and (max-width: $fixedMenuBreakPoint) {
	body,
	html{
		&.has-active-menu {
	  		overflow: hidden;
	  	}
	}
}


/* ----------------------------------

  MASK COMPONENT
  
------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: rgba(0,0,0,0.70);
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  @include transition(opacity 0.3s, width 0s 0.3s, height 0s 0.3s);

}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  @include transition (opacity 0.7s);

}




/*  =====================       Profile Page       ========================
========================================================================*/



/* ======     LAYOUT  
============================*/

.p_Container {
	padding: 35px;
	max-width: 350px;
	margin: auto;
	padding-top: 107px;
}

.p_img {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	text-align: center;
}

.p_img img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: auto;
}

.p_form {
	@include display(flex);
	@include flex-direction(column);
}


/* ======     Styling  
============================*/

.p_img a {
	opacity: 0.4;
	font-size: 14px;
	color: #FFF;
	line-height: 19px;
	text-decoration: none;
	margin: auto;
}

