.createClient {
	.inputRow {
		@include display(flex);
	}

	.inputContainer {
		margin-right: 10px;
		@include flex(1);

		&:last-of-type {
			margin-right: 0;
		}
	}

	input[type="radio"].createClient {
		height: auto;
		border: none;
		width: auto;
		padding: 0;
		margin: 0 10px 10px 0;
	}

	.unitToggleControl:after {
		background: white;
	}

	.unitToggleLabel {
		margin: auto 6px;
	}
}

.clientConnectSwitcher {
	@include display(flex);
	margin: 10px 0;
}


