APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ASjcRafIrbiP0gJQvYLH9wV1ikIcM6/u3n1R0T+8+1I=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=trainerworkout_db
DB_USERNAME=trainerworkout_db
DB_PASSWORD="Trainer2020!"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=465
MAIL_USERNAME=f3aa693f51d9f2
MAIL_PASSWORD=37cf9fdbbd4fcb
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="krish.siddhapura@grewon.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# LIVE STRIPE KEY
#STRIPE_KEY=pk_live_51QkHq3RrMsQ7lFic7BWflWWhVxuUargBlqdsIVGc4Ql7SV2KBFuF6G6kzWwII9jE30kSXO1J4oYRtam81RmH5PcZ006R9SuVIF
#STRIPE_SECRET=***REMOVED***

# SANDBOX STRIPE KEY
STRIPE_KEY=pk_test_51QkHq3RrMsQ7lFickqRTum0yz0lcQADjzvxv13KszdUxQ2lFHVBVh9QvqkmvBivY3WlkDlBG7HNmqCLDXv2k1Rcb00gCRN4QCr
STRIPE_SECRET=***REMOVED***

JWT_SECRET=KtcMDJZiIiLwf4ngwU0EJ5U2AknO9X90HWJuJ8QcdaIPA5IfSlT5iLCpHc7f2Grv

FACEBOOK_CLIENT_ID="940943631538191"
FACEBOOK_CLIENT_SECRET="7f2e246b5fb3f228bbd9cfc892c339d3"
FACEBOOK_REDIRECT_URI="http://trainerworkout.local/auth/facebook/callback"