.widgets {
	width: 100%;
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 16px;
    padding: 20px;
    position: relative;

    h1 {
	    border-bottom: 1px solid #e5e5e5;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
    }

    p {
    	padding: 5px 0;
    	color: #7d7d7d;
    	word-break: break-all;
    }
}

// #content {
// 	margin-top: 20px;
// }

.bluebtn {
	width: 180px;
	height: 40px;
	background: #22A0D3;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    text-align: center;
    margin: 0;
}

.fltleft {
	width: 100%;
	margin-bottom: 15px;

	@media (min-width: $device_detection) {
		width: 38%;
	}

	@media (min-width: 1024px) {
		width: 55%;
	}
}

.exercisesblockright {
	float: none;
	div {
		width: 120px;
		float:left;

			@media (min-width: 426px) {
				width: 200px;
				padding: 0px 0px;
			}

		.image {

			width: 120px;
			height: 120px;
			
			@media (min-width: 426px) {
				width: 200px;
				height: 200px;
			}
		}
	}
	
}




