/*  =================     Membership Message       ======================
========================================================================*/

.emptyMessage,
#emptyMessage p {
	color: white;
	font-size: 1.5em;
}

#membershipMessage {
    max-width: 1023px;
    text-align: center;
    margin: 20px 10px 0 10px;

    p {
	    font-size: 1em;
	    line-height: 1.2em;
	}
	span {
		font-weight: 700;
		padding-left: 5px;
		padding-right: 5px;
	}

	a {
		text-decoration: underline;
		color: inherit;
	}
}

@media all and (min-width: 984px) {
	#membershipMessage {
		margin: 10px auto 0 auto;
	}
}

.upgradeMessage {
	padding: 10px;
    background-color: $tw_dblue;
    color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
}


/*  =====================     Workouts Page       =====================
========================================================================*/


/*  ======   Search Workout 
===========================*/
.description {
	color: $desc_grey;
	font-size: .8em;
	line-height: 1.25em;
}

.searchWorkout {
	text-align: center;
	border-radius: 2px 2px 0 0 ;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	position: relative;
	z-index: 2;
	margin-bottom: 0;

	p {
		@extend .description;
		padding: 6px 5px 0 5px;
	}

	.search_group {
		margin: 30px auto 0 auto;
		max-width: 550px;

		input {
			box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.15);
			border-radius: 2px 0px 0px 2px;
			max-width: 78%;
			margin: 0;
			padding-left: 12px;
			border: 1px #F0F0F0 solid;
			font-size: 1em;

		}

		a.searchButton {
			display: inline-block;
			background-color: $tw_purple;
			color: #fff;
			text-decoration: none;
			border-radius: 0 2px 2px 0;
			width: 22%;
			height: 40px;
			line-height: 40px;
			margin-left: -6px;
		}
	}

	#hideButton,
	#showButton {
		text-align: left;
		font-size: 0.8em;
		margin-top: 6px;
	}

	#hideButton a,
	#showButton a {
		color: #7B84B7;
		text-decoration: underline;
	}
}


/*  ======   Tags 
===========================*/

.w_tags {
	position: relative;
	z-index: 0;

	.widget {
		margin-top: 0;
		@include border-top-radius(0);
	}

	hr {
		border: none;
		background-color: $grey;
		height: 1px;
	}

	h3 {
		text-transform: uppercase;
	}

	.wrapper_tags:first-child {
		margin-bottom: 10px;
	}

	.container {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content();
	}
}

.tag_menu {
	display: none;
}



/*  ======   My Workouts 
===========================*/


.workouts {
	p {
		@extend .description;
		padding: 10px;
	}

	.workoutHeader {
		text-align: center;
	}

	@media all and (min-width: $small_to_medium) {
		p {
			padding-left: 0;
		}

		.workoutHeader {
			text-align: left;
			@include display(flex);

			&_description {
				width: 50%;;
			}
		}
	}
}


/****  More options ****/

.workoutHeader #printWorkouts {
	position: relative;
	@include display(flex);
}


.workouts_options {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: $workoutOptions_height;
	background-color: $tw_dblue;
	z-index: 10;
	padding: 0 10px;
	@include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.30));
	@include display(flex);
	@include justify-content(center);
	@include transition(all 0.3s $ease-out-quart);
	
	@media (max-width:$small_to_medium) {
		a.moreOptionsButton {
			margin: auto auto;
			.client & {
				margin: 5px;
			}
		}
	}
	

	@media all and (max-width: 768px ) {
		#printWorkouts {
			display: none !important;
		}
	}

	& .moreOptionsWorkoutButton:first-child {
		margin-left: auto;
	}

	.moreOptionsWorkoutButton {
		display: none;
	}

	@media all and (min-width: $small_to_medium) {
		& {
			position: static;
			background-color: transparent;
			z-index: auto;
			height: auto;
			box-shadow: none;
			@include justify-content(flex-end);
			min-width: 368px;
			width: 50%;
			padding: 0 0 12px 0;
		}

		.moreOptionsWorkoutButton,
		#createWorkout { 
			margin: auto 0 0 0;
		}
	}
}

.printMenu {
	display: none;
	background-color: transparent;
    z-index: 10;
    width: $printMenu_width;
    position: absolute;
    padding-top: 6px;
    right: 0px;
    top: 45px;

    ul {
	    background-color: $workoutOptionsButtons_color;
	    border-radius: 2px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }

    li {
    	padding: 10px;
    	@include transition(all 0.3s);
    	@include display(flex);
    	cursor: pointer;

    	svg {
			height: 30px;
			width: auto;
		}

		p {
    		padding: 0 10px;
    		display: inline-block;
			font-size: 12px;
			color: $tw_blue;
			line-height: 30px;
			@include transition(all 0.3s);
    	}

	    &:hover {
	    	background-color: $tw_blue;
	    }

	    &:hover p {
	    	color: #fff;
	    	font-weight: 400;
	    }
	}
}


#printWorkouts:hover .printMenu {
	display: block;
}


/*  ====== workouts display 
===========================*/

#w_workouts {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	@include flex-direction(row);
	padding: 10px 0;
	.deletingSign{
		text-align: center;
	}
	.loadingSignIcon img{
		display: block;
		width: 35px;
		height:auto;
		margin: auto;
		background-color: #EFEFEF;
	}
}


.parentWorkout {
	width:100%;
}

@media all and (min-width: $workouts_two_columns) {
	.parentWorkout {
		@include flex-basis(calc(50% - 5px));
		max-width: calc(50% - 5px);
	}

	.parentWorkout {
		margin-right: 10px;
	}

	#w_workouts .parentWorkout:nth-child(2n + 0){
		margin-right: 0;
	}
}

@media all and (min-width: $workouts_three_columns) {
	.parentWorkout {
		@include flex-basis(calc((100% - (10px * 2)) / 3));
		max-width: calc((100% - (10px * 2)) / 3);
	}

	#w_workouts .parentWorkout:nth-child(2n + 0){
		margin-right: 10px;
	}

	#w_workouts .parentWorkout:nth-child(3n + 0){
		margin-right: 0;
	}
}


/*  ====== Each workout card 
===========================*/
.workout_title {
	font-size: 1.5em;
	min-height: 25px;
	// @include ellipsis(95%);
	margin: auto auto;
}

.workout_main_container {
	height: $workout_height;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 4px 0 darken($tw_green, 15%), 0 4px 6px 1px rgba(0, 0, 0, 0.25);
	@include transition(transform 0.2s, box-shadow 0.3s);


	&:hover {
		box-shadow: 0 4px 0 darken($tw_green, 15%), 0 1px 1px 1px rgba(0, 0, 0, 0.25);
		@include transform(translateY(1px));
	}

	&:focus,
	&:active {
		@include transform(translateY(2px));
	}

	.deleting {
		@include overlaysWorkout;

		img {
			display: block;
			margin: auto auto;
			height: 80%;
		}

		.deletingMessage {
			color: $deletingWorkout;
			text-align: center;
		}

	}

	.workoutsHover {
		@include overlaysWorkout;
		@include display(flex);
		@include flex-direction(column);
		@include align-content(space-between);

		.hoverExit {
			    margin: 12px;
			    position: absolute;
			    right: 0;
			    top: 0;

			    @media (min-width: $medium_to_large) {
			    	display: none;
			    }
		}

		@media all and (min-width:$device_detection) {
			html.no-touchevents & {
				.hoverExit {
					display: none;
				}
			}
		}

		&_status {
			text-align: center;
			height: $workout_height - $workoutBTN_height;
			@include display(flex);
			@include flex-direction(column);
			@include justify-content(space-around);

			#w_clients & {
				background-color: $tw_dblue;
			}
			
			p {
				color: $workoutHoverColors;
				font-size: 1.5em;
				padding: 0;
				margin-top: auto;
			}

			a {
				color: $workoutHoverColors;
				font-size: 1em;
				padding: 9px 15px;
				border: 1px solid #fff;
				border-radius: 2px;
				margin: 20px auto auto auto;
				display: inline-block;
				width: 170px;
				@include transition( all 0.3s);

				&:hover {
					background-color: #fff;
					color: $tw_green;
				}
			}
		}

		&_BTNsContainer {
			height: $workoutBTN_height;
			margin-top: auto;
			// background-color: $tw_purple;
			@include display(flex);
			@include box-shadow( 0px -4px 10px 0px rgba(0,0,0,0.20));

			a {
				width: 100%;
				height: $workoutBTN_height;
			}

			& .workoutsHover_BTNContainer:last-child {
				border-right: none;
				min-width: 72px;
			}
		}

		&_BTNContainer {
			width: 20%;
			text-align: center;
			background-color: $tw_purple;
			border-right: solid 1px darken($tw_purple, 15%);

			&:hover {
				border: solid 1px darken($tw_purple, 15%);
				z-index: 3;
			}
		}

		&_BTNimg {
			@include calc(height, .65 * $workoutBTN_height);
			@include display(flex);
			img {
				margin: auto;
				height: 27px;
			}
		}

		&_BTNtxt {
			color: $workoutHoverColors;
			@include calc(height, .35 * $workoutBTN_height);

			span {
				font-size: 0.65em;

				@media (min-width: $workoutBreakOne) and (max-width:$workoutBreakTwo) {
					font-size: 0.75em;
				}

				@media (min-width: $workoutBreakTwo) and (max-width: $workoutBreakThree) {
					font-size: 0.85em;
				}

				@media (min-width: $workoutBreakThree) and (max-width: $workoutBreakFour ) {
					font-size: 0.95em;
				}

				@media (min-width: $workoutBreakFour) and (max-width: $workoutBreakFive) {
					font-size: 0.75em;
				}

				@media (min-width: $workoutBreakFive) and (max-width: $workoutBreakSix) {
					font-size: 0.75em;
				}

				@media (min-width: $workoutBreakSix) and (max-width: $workoutBreakSeven) {
					font-size: 0.95em;
				}

				@media (min-width: $workoutBreakSeven) and (max-width: $workoutBreakHeight) {
					font-size: 0.75em;
				}

				@media (min-width: $workoutBreakHeight) {
					font-size: 0.85em;
				}								
			}
		}
	}

	.workout_overlay {
		width: 100%;
		height: $workout_height;
		padding: 25px 15px 15px 15px;
		text-align: center;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(space-between);
		@include linear-gradient(0deg, #52D2B0 42%, rgba(81,210,176,0.60) 100%, $fallback: #fff);
		@include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.13));

		.moreOption {
			@extend .moreOptionsWorkoutButton;
			position: absolute;
			top: 25px;
			right: 25px;
		}

		@media all and (min-width:985px) {
			.moreOption {
				display: none;
			}
		}

		.exe_imgs {
			margin: 0 auto;
			width: 220px;
			position: relative;
			height: $workout_img_height;

			img {
				width: $workout_img_height;
				height: $workout_img_height;
				border-radius: 50%;
				@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.20));
				position: absolute;
				top:0;
				background-color: #fff;
			}

			img:nth-child(2) {
				z-index: 1;
				left: 0;
			}

			img:nth-child(1) {
				z-index: 3;
				left: calc( 50% - (80px / 2));
			}	

			img:nth-child(3) {
				z-index: 2;
				right: 0;
			}
		}
		//need to be specific to workout. 
		.workout_title {
			text-align: center;
			display: block;
		}

		span {
			color: $workout_color;
		}

		.workout_info {
			@include display(flex);

			.workout_date {
				font-size: 0.8em;
				line-height: 1.1em;
				& span:first-child {
					opacity: 0.64;
					padding-bottom: 4px;
				}
				span {
					text-align: left;
				}
			}

			.workout_status {
				@include flex(1);
				@include display(flex);
				@include justify-content(flex-end);
				font-size: 1em;

				span {
					margin-top: auto;
					height: 1.2em;
				}
			}
		}
	}
}

@media all and (min-width:$device_detection) {
	html.no-touchevents {
		.parentWorkout:hover .workoutsHover {
			top: 0;
		}
	}
}


.workout_main_containerAlways {
	top: 0px !important;
}


/*  ====== Duplicate 
===========================*/

.new_workout {
	background-color: #fff;

	.workout_main_container {
		position: relative;
	}

	.workout_overlay {
		@include linear-gradient(-180deg, rgba(169,176,217,0.95) 4%, rgba(111,120,177,0.95) 50%, $fallback: transparent);
		position: absolute;
		top: 0;

		.duplicate_container {
			form {
				padding-top: 44px;
				@include display(flex);
				@include flex-direction(column);
				text-align: center;

				label {
					font-size: 1em;
				}

				input {
					margin: 20px auto;
					width: 70%;
					background-color: #fff;
					@include box-shadow(inset 0px -1px 5px 0px rgba(0,0,0,0.25));
					border: none;
					height: 35px;
				}

				button {
					@include btn($workoutDuplicateBTN, 30px, 80px);
					color: $tw_purple;
					margin: auto;
				}
			}

			&_cancel {
				padding-top: 8px;

				a {
					color: $workoutDuplicateBTN;
					text-decoration: underline;
					font-size: 0.8em;
				}
			}
		}
	}

	.duplicate_img {
		width: 90%;
		max-width: 250px;
		margin: auto auto;
		margin-top: 20px;
		z-index: 2;

		img {
			width: 33%;
			height: auto;
			float: left;
			 border-radius: 50%;
		}
	}
}


.viewMore_holder {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	z-index: 5;

	.loading {
		margin: auto auto;
		text-align: center;

		span,
		p {
			color: white;
			font-size: 1.4em;
		}

		img {
			max-width: 120px;
		}
	}
}

.viewMore {
	display: inline-block;
	@include btn($viewMoreBtn, auto, 120px, 8px, 12px);
	width: 120px;
	color: $tw_blue;
	margin: auto;
}

.archive {
	@extend .viewMore;
	width: 240px;
}

/*  ====================   Workouts  Trainee    ========================
========================================================================*/


.workoutsContainer {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	margin-bottom: auto;
	width: 100%;
	min-height: 100vh;
	padding-top: 80px;
	max-width: 664px;
	margin-left: auto;
	margin-right: auto;
}



.workoutContainer {
	min-width: 300px;
	height: 230px;
	width: auto;
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 12px;
	margin-left: 10px;
	margin-right: 10px;
	transition: top .2s ease-in;
	-webkit-box-shadow: 0 3px 0 #1E6B9B, 0 15px 20px rgba(0, 0, 0, .35);
       -moz-box-shadow: 0 3px 0 #1E6B9B, 0 15px 20px rgba(0, 0, 0, .35);
            box-shadow: 0 3px 0 #1E6B9B, 0 15px 20px rgba(0, 0, 0, .35);

    &:hover .workoutsHover{
		top: 0;
    }

    .workoutsHover {
		background: $tw_blue;

		a.WorkoutsHoverView {
		    width: 170px;
		    height: auto;

		    &:hover {
		    	color: $tw_blue;
		    }
		}
    }
    
    .workoutsHover_BTNContainer {
    	width: 33.33%;
    }
}



@media all and ( min-width: 640px) {

	.workoutsContainer {
		padding-top: 60px;
		justify-content: space-around;
	}

	.workoutContainer {
		margin-bottom: 40px;
	}
}


@media all and ( min-width: 1000px) {
	.workoutsContainer {
		max-width: 990px;
	}
}


.workout {
	background-image: linear-gradient(-180deg, rgba(54,154,216,0.55) 0%, #369AD8 63%);
	width: 100%;
	height: 100%;
	padding-top: 20px;
	border-radius: 2px;
	cursor: pointer;
	transition: .2s ease-in;
}


.workoutContainer:hover {
	transform: translateY(2px);
	-webkit-box-shadow: 0 3px 0 #4b548a, 0 15px 20px rgba(0, 0, 0, .35);
       -moz-box-shadow: 0 3px 0 #4b548a, 0 15px 20px rgba(0, 0, 0, .35);
            box-shadow: 0 3px 0 #4b548a, 0 15px 20px rgba(0, 0, 0, .35);

}

.workoutContainer:active,
.workoutContainer:focus {
	transform: translateY(4px);
}

.workout:hover {
	background-color: #369AD8;
	-webkit-box-shadow: 0 3px 0 #1E6B9B;
	   -moz-box-shadow: 0 3px 0 #1E6B9B;
	        box-shadow: 0 3px 0 #1E6B9B;
}


.workout:active, 
.workout:focus {
	-webkit-box-shadow: 0 1px 0 #1E6B9B;
	   -moz-box-shadow: 0 1px 0 #1E6B9B;
	        box-shadow: 0 1px 0 #1E6B9B;
}


.workoutImages {
	margin-left: auto;
	margin-right: auto;
	max-width: 260px;
	height: 95px;
	position: relative;
}

.workoutImages img {
	height: 95px;
	width: 95px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
	background-color: white;
}

.workoutImages img:nth-child(1) {
	z-index: 1;
	left: 0;
}

.workoutImages img:nth-child(2) {
	z-index: 2;
	left: 32%;
}

.workoutImages img:nth-child(3) {
	z-index: 3;
	right: 0;
}

.workoutInfo {
	width: 100%;
	padding: 0 12px;

	 h1 {
		margin-top: 30px;
		color: white;
	}
}

.workoutInfo p {
	color: rgba( 255, 255, 255, 0.8);
	line-height: 17px;
	margin: 0;
	opacity: 80%;
}




.exitAccess {
    margin-top: 25px;
    text-align: center;
    .upgradePlan {
    	display:inline-flex;
    	svg{
			padding-right: 10px;
			box-sizing:initial;
		}
    }
}

#exitAccess {
	@include btn(#FBB858);
    color: #fff;
    padding: 8px 10px;
    text-shadow: none;
    display: initial;
    border-radius: 2px;
    font-weight: lighter;
}


.archived {
	box-shadow: none;

	.workout,
	.workoutsHover,
	.workout_overlay {
		background: #b8b8b8;
	}

	.workoutsHover a:hover {
		color: #b8b8b8;
	}
}

.onboardingCreateWorkoutContainer {
	@include flex(1);
	@include display(flex);
	min-height: 130px;
	position: relative;

	a {
		font-size: 2em;
		font-weight: 600;
		color: $tw_orange;
		font-family: 'Indie Flower', cursive;
	}

	a.noWorkout {
		margin: auto auto;
		text-align: center;

		&::after {
			content: url("/img/svg/onboardingCWarrow3.svg");
		    display: block;
		    position: fixed;
		    bottom: 66px;
		    right: 50%;
			@include transform(translateX(50%) rotate(180deg));
			z-index: 500;

		    @media (orientation:landscape) {
	    	    bottom: 13px;
			    right: 66%;
		    	@include transform(translateX(-50%) rotate(120deg));
		    }

		    @media (min-width: $onboardingBreakOne) {
		    	content: url("/img/svg/onboardingCWarrow4.svg");
		    	position: static;
		    	@include transform(none);
		    	display: inline-block;
		    	margin-left: 10px;
	    	}		

	    	@media (min-width: $onboardingBreakTwo) {
	    		content: url("/img/svg/onboardingCWarrow4.svg");
		    	position: absolute;
	    	    right: 79px;
			    bottom: 45%;
			    margin: 0;
	    	}
		}
	}

	a.oneWorkout {
		margin: auto 10px;
	    text-align: center;
	    width: 100%;
	    position: relative;

	    @media (min-width: $onboardingBreakOne) {
	    	margin: auto auto 60px auto;
	    }

	    @media (min-width: $onboardingBreakThree) {
		    margin: 30px auto auto auto;
    	}

		&::after {
			content: url("/img/svg/onboardingCWarrow3.svg");
			display: block;
		    position: fixed;
		    bottom: 8px;
		    right: 78%;
			@include transform(rotate(123deg));
			z-index: 500;

			@media (min-width: $onboardingBreakOne) {
				@include transform(none);
				position: absolute;
			    bottom: 65px;
			    right: 60px;
			    z-index: 0;
			}

			@media (min-width: $onboardingBreakThree) {
				content: url("/img/svg/onboardingCWarrow.svg");
			    position: static;
			    padding-left: 8px;
			    display: inline-block;
			}
		}
	}

	a.twoWorkout {
	    text-align: center;
	    margin: auto 10px;
	    width: 100%;

	    @media (min-width: $onboardingBreakTwo) {
	    	margin: 50px auto;
	    }

		@media (min-width: $onboardingBreakThree) {
			margin: 150px auto auto auto;
			position: relative;
			max-width: 350px;
		}
	    
    	&::after {
    		content: url("/img/svg/onboardingCWarrow5.svg");
    		display: block;
		    position: fixed;
		    bottom: 8px;
		    right: 78%;
			@include transform(rotate(-28deg));
			z-index: 500;

			@media (orientation:landscape) {
				right: 67%;
			}

			@media (min-width: $onboardingBreakOne) {
	    		content: url("/img/svg/onboardingCWarrow4.svg");
	    		display: inline-block;
	    		position: static;
	    		@include transform(none);
	    		padding-left: 20px;
	    	}

		    @media (min-width: $onboardingBreakTwo) {
		    	position: absolute;
		    	bottom: 35%;
		    	padding: 0;
		    	right: 68px;
			}

			@media (min-width: $onboardingBreakThree) {
				content: url("/img/svg/onboardingCWarrow2.svg");
				bottom: 64px;
			}
	    }
	}
}

@media screen and (min-width: $onboardingBreakOne) and (max-width: $onboardingBreakThree) {
	.orderSwitch {
		@include order(-1);
		@include flex-basis(100%);
	}
}

.spacer {
	height: 150px;
	width: 100px;
}