.p_Container input {
	color: white;
	border:1px solid #000;
}

.saveButton {
	text-align: center;
}

.p_Container input[type="file"] {
	border: none;
}

form div.content div.contentContainer {
	position: relative;
}

