/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, p, span, div, td, tr {
  font-family: "Avenir", "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  padding: 5px 5px 5px 5px !important;
  background: white; }

.restBtwExe,
.exercise {
  page-break-inside: avoid !important; }

.header {
  margin-bottom: 20px; }

.logo {
  display: inline-block;
  margin-right: 20px;
  height: 95px; }
  .logo .user-logo {
    height: 100%; }
  .logo .tw {
    height: 100%; }

.info {
  margin-top: auto;
  display: inline-block; }

.w_name {
  color: #2C3E50;
  margin-bottom: 8px;
  font-style: oblique;
  max-width: 700px;
  white-space: nowrap; }
  .w_name span {
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 1.28px;
    margin-right: 10px;
    color: #2C3E50;
    font-style: normal; }

.note {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .note img {
    height: 50px;
    width: 50px;
    border-radius: 100%; }
  .note p {
    margin-left: 15px;
    max-width: 650px; }

.poweredby {
  float: right;
  padding-top: 10px; }
  .poweredby p {
    color: #2C3E50;
    font-size: 1em;
    font-style: oblique;
    margin-bottom: 6px;
    text-align: right; }
  .poweredby img {
    margin-left: 64px; }

.group {
  border: solid 1px #979797;
  padding: 10px;
  margin-bottom: 10px; }

.circuit {
  background: #E5E5E5; }
  .circuit h1 {
    font-size: 1.2em; }

.workout_header {
  background: #D8D8D8;
  margin-bottom: 15px;
  width: 100%; }
  .workout_header h4 {
    text-align: center;
    width: 20%; }
  .workout_header h4, .workout_header p {
    padding: 16px 0;
    display: inline-block; }
  .workout_header .exTable {
    padding-left: 30px;
    display: inline-block;
    width: 75%; }
  .workout_header .first {
    text-align: center; }
  .workout_header .day {
    text-align: left;
    padding-left: 5px; }

.ccHead {
  margin-bottom: 25px; }

.exercise_in_circuit {
  margin-bottom: 10px; }

.exercise_line {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.exInfo {
  display: inline-block; }

.ccHead,
.titleText {
  font-weight: 500; }

.titleInfo {
  max-width: 180px;
  margin-bottom: 10px; }

.imgContainer {
  margin: auto auto;
  border: solid 1px white;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .imgContainer img {
    height: 80px;
    width: 80px; }

/* TEMPO */
.exeTempo {
  display: inline-block; }
  .exeTempo p {
    color: #2C3E50;
    line-height: 16px;
    padding: 2px 4px;
    background-color: #DADADA;
    display: inline-block;
    min-width: 25px;
    text-align: center;
    font-size: 0.6em;
    margin: 1em 0;
    margin-right: -3px; }

.exTable {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .exTable table {
    background: white;
    margin-top: auto; }

.setsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #979797; }

.cardio th,
.cardio td {
  width: 58px; }
.cardio th p {
  display: block;
  max-width: 55px;
  text-overflow: clip;
  white-space: normal;
  word-wrap: break-word;
  text-align: center; }

.muscle th, .muscle td {
  width: 117.33333px; }
.muscle th p {
  display: block;
  max-width: 114.33333px;
  text-overflow: clip;
  white-space: normal;
  word-wrap: break-word;
  text-align: center; }

td, th {
  font-size: 12px;
  font-weight: 300;
  border: 1px solid #979797;
  padding: 4px 0;
  text-align: center;
  vertical-align: middle; }

.muscle .set,
.cardio .set {
  background: #D8D8D8;
  width: 40px; }

.firstColDay {
  border-left: 2px solid #979797; }

.day0 {
  background-color: #D8D8D8; }

.restBtwRounds,
.restBtwExercise {
  background: white;
  width: 90%;
  text-align: center;
  padding: 6px;
  margin: 10px auto;
  border-radius: 2px; }

.restBtwExe {
  padding: 5px 10px;
  background-color: #D8D8D8;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -ms-flex-line-pack: center; }
  .restBtwExe p {
    color: #4A4A4A;
    text-align: center;
    margin: auto; }

@page {
  size: landscape;
  margin-top: 0.2cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm; }
* {
  font-size: 12pt;
  -webkit-print-color-adjust: exact; }

.exTable {
  width: 79%; }

.exInfo {
  width: 20%; }

.cardio p {
  display: block;
  width: 98%;
  text-overflow: clip;
  white-space: normal;
  word-wrap: break-word;
  text-align: center; }

.exTable .set {
  width: 30pt; }

/*# sourceMappingURL=printWorkout.css.map */
