.systemMessages {
    position:fixed;
    top:0;
    right:0;
    width: 300px;
    height: auto;
    font-size: 16px;
    z-index: 99999;
    margin-top:75px;
    margin-right: 10px;

    div {
        position: relative;
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 2px;
        -webkit-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        word-wrap: break-word;
        text-align: center;
    } 
}

.successBox {
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
    z-index: 9000;
    color: white;
    background-color: #2C3E50;
    opacity: 0.9;
}

.success {
    color: white;
}

.errorBox{
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
    z-index: 9000;
    color: white;
    background-color: #FBB147;
}
.errorBox .hideErrorMessageButton {
    position: relative;
    float: right;
    color:white;
}
.errorBox .hideErrorMessageButton:hover {
    color:rgb(0, 0, 0);
}

.errorBox a:hover {
    color:rgb(188, 245, 188);
}