.newWorkoutOptions {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(space-around);
	min-height: 220px;

	label {
		margin: 0 auto;
	}

	a {
		font-size: 1.25em;
		text-decoration: underline;
		font-weight: 400;
		margin: 12px 0;
		color: white;
		text-align: center;
	}
}

.typeOfWorkout-activated {
	.popup_container {
		max-width: 1080px;
		padding: 20px;
	}

	.widget {
		margin-top: 0;
	}
}

.workoutsLibrary {
	display: none;
}

.typeOfWorkout {
	.search_group input {
		color: $tw_dblue;
	}

	#w_workouts {
		padding: 10px;
	    max-height: calc(100vh - 311px);
	    overflow: scroll;
	}
}

