//Account Pages
$websiteBreakOne: 400px;

.accountPages {
	width: 100%;
	@include radial-gradient(31% 69%, #20BAFB 24%, #04A2E4 100%);
	padding-top: 100px;
	overflow: hidden;
	position: relative;
	z-index: 0;

	.background {
		@include radial-gradient(23% 100%, #20BAFB 31%, #1DB7F8 53%, rgba(4,162,228,0.41) 100%, rgba(3,161,227,0.00) 100%);
		@include transform(skewY(40deg));
		height: 95%;
	}
}

.accountRoot {
	@include display(flex);
	@include flex-direction(column);
	min-height: 80vh;
}

.topBlock {
	text-align: center;
	width: 100%;
	h1 {
		font-size: 1.875em;
		font-weight: 600;
		color: white;
		margin-bottom: 24px;

		@media (min-width:$websiteBreakOne ) {
			font-size: 4.25em;
		}
	}

	h3 {
		color: white;
		font-size: 1.2em;
		font-weight: 300;
		@media (min-width: $websiteBreakOne) {
			font-size: 1.5em;
		}
	}
}

.accountAction_container {
	padding: 60px 10px;
	max-width: 380px;
	width: 100%;
	margin: auto auto;

	input {
		@extend .input;
		margin-bottom: 15px;

		&:last-of-type {
			margin-bottom: 25px;
		}
	}

	label {
		color: white;
		display: block;
		margin-bottom: 4px;
	}

	.forgot_password,
	a {
		display: block;
	}
}

.submit {
	@include btn($tw_green, auto, 100%, 12px, 6px);
}

.facebook {
	@include btn(#3B5998, auto, 100%, 12px, 6px);
	margin-bottom: 2px;
}

.accountOr {
	padding: 30px 0;
	@include display(flex);

	> span {
		font-size: 1.5em;
		color: white;
		padding: 0 8px;
	}

	> hr {
		color: white;
		display: inline-block;
		width: 40%;
		height: 1px;
		box-shadow: none;
	}
}

.submit,
.facebook {
	font-weight: 500;
	font-size: 1.2em;
}

.forgot_password {
	text-align: center;
	margin: 10px 0 0 0;
}

#terms{
	width: auto;
	height: auto;
}

.termsAndConditions {
	label,
	a {
		display: inline-block;
	}

	a {
		text-decoration: underline;
	}
}
