.topPT {
    @include radial-gradient(0% 52%, #20BAFB 0%, #1DB7F8 22%, rgba(4,162,228,0.41) 95%, rgba(3,161,227,0.40) 95%);
}

.imgPT {
	background-image: url("/assets/img/trainer-example.png");
	background-repeat: no-repeat;
    background-position: 87% 67%;
    background-size: 72%;
    transform: skewY(0);

    @media (min-width: $jumboSwitch) {
    	background-position: 87% 79%;
    }

    @media screen and (min-width: 750px) {
    	background-size: 50%;
    	background-position: 93% 75%;
    }

    @media (min-width: $global) {
    	background-position: 85% 65%;
    	background-size: 475px;
    }

    @media (min-width: 1350px) {
    	background-position: 77% 60%;
    }

    @media (min-width: 1700px) {
    	background-position: 67% 60%;
    }

    @media (min-width: 1950px) {
    	background-position: 67% center;
    }

    @media handheld and (orientation:landscape) {
    	background-position: 87% 57%;
    	background-size: 57%;
    }

    @media handheld and (min-device-width:1024px) and (orientation:landscape) {
    	background-size: 48%;
    }


    @media (max-height: 650px) {
    	background-size: 400px;
    	background-position: 67% 45%;
    }

    @media (min-height: 650px) and (max-height: 800px) {
    	background-size: 55vh;
    	background-position: 75% 45%;
    }

    @media (min-height: 800px) and (max-height: 1000px) {
    	background-size: 55vh;
    	background-position: 75% 45%;
    }
}



#customPlansMessage{
    top: -16px;
    left: 10%;
    width: 90%;
    text-align: center;
}

#clientSubscriptionsMessage{
    top: 60px;
	right: 10px;
    width: 50%;
}

#billingInvoicingMessage{
    top: 28px;
    right: -30px;
    width: 44%;
}

#managePlansMessage{
    top: -19px;
    left: 10%;
    width: 90%;
}

#brandingMessage{
    top: 18%;
    left: 40%;
}

#clientFilesMessage {
    top: -38px;
    left: 20px;
    width: 38%;
}

#notificationsMessage {
    top: 26px;
    left: 53px;
    width: 40%;
}

#trackingMessage {
	top: -25px;
	left: 0;
	width: 100%;
	text-align: center;
}

#exercisesMessage {
    top: -16px;
    left: 10%;
    width: 90%;
    text-align: center;
}

#builderMessage {
	top: 60px;
	right: 10px;
    width: 50%;
}

#shareMessage {
	top: 70px;
    right: -30px;
    width: 44%;
}

#printMessage {
    top: -19px;
    left: 10%;
    width: 90%;
}

 .pt #pricing::before {
    content: "";
    position: absolute;
    background-color: #DDE8F4;
    border-radius: 100%;
    z-index: 2;
    top: -40px;
    height: 80px;
    width: 116%;
    left: -8%;

    @media (min-width: $two_columnDisplay) {
        top: -70px;
        height: 140px;
        width: 108%;
        left: -4%;
    }
}


