footer {
	background-color: $tw_dblue;
	padding-top: 20px;

	h1, h2, h2, p, a {
		color: white;
	}

	h2 {
		font-size: 1.5em;
		font-weight: 400;
		margin-bottom: 20px;
	}

	h2 a {
		font-size: inherit;
		font-weight: inherit;
	}
}

.footerContainer {
	@include display(flex);
	@include flex-direction(column);

	@media (min-width:$footerBreak_third ) {
		@include flex-direction(row);
		flex-flow: row wrap;
	}
}


.footer_block {
	padding: 25px 0;

	@media (min-width: $footerBreak_first) {
		padding: 25px 20px;
	}

	@media (min-width:$footerBreak_third ) {
		flex-grow: 1;
		padding: 25px 0;
	}
}


.language {
	text-align: center;

	@media (min-width:$footerBreak_third ) {
		max-width: 160px;
	}

	h2 {
		margin-bottom: 30px;
	}

	div {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a.selected {
		padding: 8px 25px;
		background-color: white;
		color: $tw_dblue;
		border-radius: 20px;;
		font-weight: 500;
	}
}

.breakLine {
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255,0.4);
	margin: auto;

	@media (min-width: $footerBreak_first) {
		width: calc(100% - 20px);
	}

	@media (min-width:$footerBreak_third ) {
		width: 1px;
		height: 90px;
		margin: 70px 0 0 0;
	}
}

@media (min-width:$footerBreak_third ) {
	.desktopHide {
		display: none;
	}
}

.pages{
	@include display(flex);
	@include flex-direction(column);

	@media (min-width:$footerBreak_second) {
		@include flex-direction(row);
		@include justify-content(space-between);
	}

	@media (min-width:$footerBreak_third ) {
		@include justify-content(space-around);
	}
}

.page {
	margin-bottom: 30px;

	@media (min-width:$footerBreak_second) {
		margin-bottom: 0;
		margin-right: 40px;
		width: calc(50% - 20px);
	}

	@media (min-width:$footerBreak_third ) {
		width: auto;
		margin-right: 0;
	}

	&:last-child{
		margin-bottom: 0;
		margin-right: 0;
	}

	a {
		display: block;
		font-size: 1em;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.other {
	@include display(flex);
	@include justify-content(space-between);

	@media (min-width:$footerBreak_third ) {
		@include justify-content(space-around);
	}

	h2 {
		margin-bottom: 0;

		@media (min-width:$footerBreak_second) {
			width: calc(50% - 20px);
			margin-right: 40px;
		}

		&:last-child {
			margin-right: 0;
		}

		@media (min-width:$footerBreak_third ) {
			width: auto;
			margin-right: 0;
		}
	}
}

div.newsletter {
	@media (min-width:$footerBreak_third ) {
		width: 100%;
	}

	p {
		margin-bottom: 8px;
		text-align: center;
	}

	form.newsletter {
		@include display(flex);
		max-width: $contactWidth;
		margin: auto;
	}

	input.newsletter {
		background: #FFFFFF;
		box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
		border-radius: 2px 0 0 2px;
		height: 40px;
		width: calc( 100% - 90px);
		border: none;
		padding-left: 10px;
	}

	button.newsletter {
		height: 40px;
		width: 90px;
		text-align: center;
		color: white;
		background-color: $tw_green;
		border: none;
		font-size: 1em;
		border-radius:0 2px 2px 0;

	}
}

.socialBreakLine {
	max-width: $contactWidth;
}

@media (min-width:$footerBreak_third ) {
	.social {
		padding-top: 10px;
		padding-bottom: 40px;
	}
}

.socialBottom {
	@include display(flex);
	@include justify-content(space-between);
	max-width: $contactWidth;
	margin: auto;

	@media (min-width:$footerBreak_third ) {
		max-width: 250px;
	}

	a img {
		width: 50px;
		height: 50px;
	}
}