

.reportWrapper {
	max-width: 1200px;
	padding: 10px;
	margin: auto auto;
}


.reportHeader {
	background: rgba(255, 255, 255, 0.3);
	padding: 10px;
	margin: auto auto;
}
.image-detail-section{
	width: 45%;
	padding-left: 12px;
  }
.reportSettings {
	text-align: center;

	.date {
		width: 120px;
		color: white;
		font-size: 1em;
		padding: 4px 8px;

		&:last-child {
			// display: none;
		}
	}

	input {
		margin-bottom: 0;
	}

	input[type="button"] {
		border: none;
		@include btn($grey, 40px, auto, 0, 10px);
		color: $tw_blue;
		font-size: 1em;
		width: auto;
	}
}

.dateContainer {
	margin-bottom: 5px;

	@media (min-width: 500px) {
		display: inline-block;
	}
}

#r_workoutsPerformance {
	min-height: 80vh;
	margin-top: 20px;

	label input {
		width: auto;
	}

	.dataTables_length {
		padding-top: 11px;
	}

	.dataTables_info {
		display: none;
	}

	.previous,
	.next {
		@include btn($grey, auto, auto, 10px, 10px);
		color: $tw_blue;
		font-size: 0.9em;
	}

	.previous {
		margin-right: 5px;
	}

	.next {
		margin-left: 5px;
	}

	.disabled {
		color: $desc_grey;
		cursor: not-allowed;

		&:active {
			@include transform(translateY(0px));
			@include box-shadow(0 3px 0 darken($grey, 15%));
		}
	}
}


#r_workoutsPerformance .reportTable {
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24), 0px 0px 2px 0px rgba(0,0,0,0.12);
	border-radius: 2px;
	// margin-bottom: 200px;

	thead th {
		padding: 10px 15px 10px 5px;
		background-color: $tw_dblue;
		font-weight: 300;
		width: 150px;
	}

	tbody tr:nth-child(2n) {
		background: #e9e7ee;
	}
}

.workoutPerformance {
	// position: relative;

	&--Details {
		display: none;
		position: fixed;
		top: 70px;
		left: 0;
		width: 100%;
		max-width: 600px;
		background: $grey;
		text-align: left;
		padding: 10px;
		z-index: 15;
		border: 1px $greyBorder solid;
		border-radius: 3px;
		box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24), 0px 0px 4px 0px rgba(0,0,0,0.12);

		@media (min-width: 600px) {
			left: calc((100vw - 600px) / 2);
		}

		p {
			font-size: 1em;
		}

		span {
			font-weight: 500;
		}
	}

	&:hover &--Details {
		display: block;
	}

	&--Each {
		padding-bottom: 10px;
		.title {
			font-size: 1.4em;
			font-weight: 500;
		}
	}

	&:hover &--Each {
		// display: block;
	}
}



/* *********    NOte Overlay *********** */

// #notesOverlay {
// 	display: none;
// 	position: fixed;

// }





























